@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
.top-header {
  background-color: #674188;
}
.navbar-collapse {
  flex-grow: 0;
}
.nav-link{
  color: #f7efe5 !important;
}
a[href="#"] {
  color: #c3acd0 !important;
}
.nav-link:hover {
  color: #c3acd0 !important;
}


.bot-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: #C3ACD0;
  height: 25vh;
}
.bot-header > h1 {
  color: #f7efe5;
  text-transform: uppercase;
}
#logo {
  width: 20vh;
}
body {
  background-color: #F7EFE5;
}
.main-1{
    align-items: center;
    background-color: #C3ACD0;
    padding: .5rem;
    border: solid 1px #674188;
}
.checkboxes label{
    color: #FFFBF5;
}
/* Checkbox */
input[type="checkbox"]:checked {
    background-color: #674188;
    border-color: #674188;
}
input[type="checkbox"]:focus {
    display: none;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #C3ACD0;
    color:#f7efe5;
    border: solid 1px #674188;
}

#tempbutton{
  text-decoration: none;
  color: #f7efe5;
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #674188;
  padding: 1rem;
}
footer>h3{
  color: #f7efe5;
}

.btn, .btn:active, .btn:visited {
  color: #f7efe5 !important;
  background-color: #674188 !important;
  border-color: #f7efe5 !important;
}
.btn:hover{
  background-color: #f7efe5 !important;
  color: #674188 !important;
}

.btn-light, .btn-light:hover, .btn-light:active, .btn-light:visited {
  background-color: #f7efe5 !important;
  border-color: #674188 !important;
}


.card-foot{
  display: flex;
  justify-content: space-around;
}
.card-foot>p{
  align-self: center;
  margin-bottom: 0;
}

.cont-form{
  background-color: #C3ACD0;
}
.cont-form label{
  color: #f7efe5;
}

.details{
  background-color: #674188;
}

.table{
  background-color: #c3acd0;
  color: #f7efe5;
}
 #thheading{
  background-color: #674188;
 }
